@model IEnumerable<FacturaElectronica.Model.Producto>

@{
    ViewBag.Title = "Lista de Productos";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Agregar producto", "CrearProducto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarProducto", new { codigo = item.CodigoProducto }) |
            @Html.ActionLink("Ver detalle", "Detalles", new { codigo = item.CodigoProducto }) |
            @Html.ActionLink("Eliminar", "EliminarProducto", new { codigo = item.CodigoProducto })
        </td>
    </tr>
    }

</table>
